<h1>Edit Todo</h1>
<form action = "<%= todo_url(@todo)%>" method = "POST">
  <input type="hidden" name ="authenticity_token" value = "<%=form_authenticity_token%>">
    <input type="hidden" name = "_method" value ="PATCH">
      <label>Name:
        <input type="text" name="todo[name]" value ="<%=@todo.name%>">
      </label>
        <br>
        <br>
    <label>Description:
      <br>
      <textarea name="todo[description]" id="" cols="30" rows="10"><%=@todo.description%></textarea>
    </label>
  <br>
  <input type="submit" value="Edit Todo">
  
</form>